<form class="form">
  <mat-card class="box">
    <mat-form-field appearance="standard" style="width: 100%; margin: 0px;">
      <textarea
        matInput
        [(ngModel)]="timeExpr"
        (ngModelChange)="updateTimeExpr($event)"
        name="timeExpr"
        placeholder="Time expression">
      </textarea>
    </mat-form-field>
  </mat-card>
</form>

<div class="month-grid">
  <app-month-view
    *ngFor="let x of monthRange; let i = index"
    [year]="2022"
    [month]="i+1"
    [highlights]="highlights[i+1] || {}">
  </app-month-view>
</div>

