<form class="form">
  <mat-card class="box">
    <mat-form-field appearance="standard" style="width: 100%; margin: 0px;">
      <textarea
        matInput
        [(ngModel)]="timeExpr"
        (ngModelChange)="updateTimeExpr($event)"
        name="timeExpr"
        placeholder="Time expression">
      </textarea>
    </mat-form-field>
  </mat-card>
</form>

<div class="month-grid">
  <app-month-view [year]="2022" [month]="1"></app-month-view>
  <app-month-view [year]="2022" [month]="2"></app-month-view>
  <app-month-view [year]="2022" [month]="3"></app-month-view>
  <app-month-view [year]="2022" [month]="4"></app-month-view>
  <app-month-view [year]="2022" [month]="5"></app-month-view>
  <app-month-view [year]="2022" [month]="6"></app-month-view>
  <app-month-view [year]="2022" [month]="7"></app-month-view>
  <app-month-view [year]="2022" [month]="8"></app-month-view>
  <app-month-view [year]="2022" [month]="9"></app-month-view>
  <app-month-view [year]="2022" [month]="10"></app-month-view>
  <app-month-view [year]="2022" [month]="11"></app-month-view>
  <app-month-view [year]="2022" [month]="12"></app-month-view>
</div>

