mat-card {
  padding-top: 6px;
}

h6 {
  text-align: center;
}

.day-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  //grid-template-rows: repeat(6, 1fr);
  grid-gap: 6px;
  grid-auto-rows: minmax(10px, auto);
}

.dow1 { grid-column: 1; }
.dow1 { grid-column: 2; }
.dow1 { grid-column: 3; }
.dow1 { grid-column: 4; }
.dow1 { grid-column: 5; }
.dow1 { grid-column: 6; }
.dow1 { grid-column: 7; }

.week1 { grid-row: 1; }
.week2 { grid-row: 2; }
.week3 { grid-row: 3; }
.week4 { grid-row: 4; }
.week5 { grid-row: 5; }
.week6 { grid-row: 6; }
