<mat-card class="box">
  <h6>{{ monthName() }}</h6>
  <div class="day-grid">
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>

    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>

    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>

    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>

    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
    <app-day-view [year]="year" [month]="month" [day]="1"></app-day-view>
  </div>
</mat-card>
